body{
    margin: 0;
    padding: 5px;
    border: 0;

}
div{
    font-family: Verdana,sans-serif, Arial;
    color: whitesmoke;
}
.container{
 background-color: #34495e;

}
.title{
    color: #3498db;
}
a{
    color: red;
}
.yellow{
    color: yellow;
}