body{
    margin: 0;
    padding: 5px;
    border: 0;

}
div{
    font-family: Verdana,sans-serif, Arial;
    color: whitesmoke;
    font-size: 20px;
    padding: 10px;
}

.container{
 background-color: #34495e;

}
.title{
    color: #3498db;
}
a{
    color: red;
    text-decoration: none;
}
a:hover{
    font-weight: bold;
    font-size: 24px;
}
.yellow{
    color: yellow;
}
.italic{
    font-style: italic;
}
img{
    border: white solid 2px;
}
.htmlcss{
    margin-left: 60px;
}
.right{
    margin-left: 40px;
}


